* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    color: #ededed;
    background: black;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #081b29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: #0ef;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    margin-top: 50px;

}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-child(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: -7s;
}

.home-content h3 span {
    color: #0ef;

}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan
}

.photo {
    margin-left: 650px;
    margin-top: -450px;
}


.about {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img {
    padding-bottom: 20%;
    max-width: 630px;
    height: 500px;
    width: 480px;
    border-radius: 8px;
    padding-left: 50px;
    padding-right: 10px;
    padding-top: -200px;
    padding-bottom: -500px;
    margin-top: 200px;
}

.about-text {
    padding: 20px;
    padding-left: 50px;
    padding-right: 90px;
    margin-left: 500px;
    margin-top: -759px;

}

.about-text h2 {
    font-size: 60px;
    margin-top:-5px;

}

.about-text h2 span {
    color: #0ef;
}

.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p {
    color: aliceblue;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.about-text a {
    margin-top: -100px;
}

.container {
    padding: 90px;

}


#services {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    margin-top: -20px;
    align-items: center;
}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
    margin-top: -7px;
}



.sub-title span {
    color: #0ef;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-top: -20px;
    width: -500px;
    height: -50px;
}

.services-list div {
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
        1px 1px 40px #0053b8f7
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;

}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.read {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;
}

.read:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;

}

.services-list div:hover {
    transform: translateY(-10px);
}

.services-list1 div:hover {
    transform: translateY(-10px);
}

section {
    display: flex;
    flex-wrap: wrap;

}

.bar span {
    color: #0ef;
}

.skills {
    margin-top: -20px;
}

.skill-main h2 {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 2rem;
    text-align: center;
}



.skill-main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
    margin-top: 180px;

}

.skill-bar {
    margin-bottom: 2.3rem;
    padding-left: 40px;
    padding-right: 20px;
}

.skill-left .skill-bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skill-left .skill-bar .bar {
    width: 100%;
    height: 10px;
    background-color: #081b29;
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}

.skill-bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: cyan;
    border-radius: 25px;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef
}

.skill-bar .bar .java {
    width: 75%;
    animation: java 4s;
}

.skill-bar .bar .html {
    width: 80%;
    animation: html 2s;
}

.skill-bar .bar .css {
    width: 75%;
    animation: css 3s;
}

.skill-bar .bar .javascript {
    width: 60%;
    animation: javascript 4s;
}

.skill-bar .bar .python {
    width: 80%;
    animation: python 6s;
}

#services1 {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 0rem;
}

.services-list1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 40px;
    margin-top: -20px;
    width: -500px;
    height: -10px;

}

.services-list1 .food {
    background-image: url(food.jpg);
}

.services-list1 .weather {
    background-image: url(weather.jpg);
}

.services-list1 .stop {
    background-image: url(stop.jpg);
}

.services-list1 .tic {
    background-image: url(tic.webp);
}

.services-list1 div {
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
        1px 1px 40px #0053b8f7
}

.services-list1 div i {
    font-size: 50px;
    margin-bottom: 30px;

}

.services-list1 div h2 {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 15px;
    color: whitesmoke;
    padding-right: 10px;
}

.services-list1 div a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}



@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

@keyframes coa {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes python {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

.professional {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box {
    margin: 10px 0;
    position: relative;
    flex: 1 1 15rem;
}

.box .text {
    text-align: center;
    color: #fff;
    font-size: 1rem;
}

.box .text big {
    font: 400;
    letter-spacing: 1px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.box .text small {
    display: block;
    font-weight: 600;

}


.circle {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle .points {
    width: 2px;
    height: 10px;
    background-color: #081b29;
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i)*var(--rot))) translateY(-45px);

}

.circle .points.marked {
    animation: glow 0.04s linear forwards;
    animation-delay: calc(var(--i)*0.05s);
}



.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}

.top i {

    background: cyan;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem
}


label #btn
label #cancel{
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

    





@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }

}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }

}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}


@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}

@keyframes glow {
    0% {
        background-color: #081b29;
        box-shadow: none;
    }

    100% {
        background: cyan;
        box-shadow: 0 0 5px #0ef,
            0 0 25px #0ef;
    }
}

